
@media (min-width: 768px) {
   .shoppingCart {
       display: none;
   }
  }
  @media (max-width: 768px) {
    .imageContainer {
        display: none;
    }
    .shoppingCart {
        margin-top: 20px;
    }
   }